.table-container {
    max-height: 300px;
    overflow-y: scroll;
}

.table-container::-webkit-scrollbar {
    background-color: none;
    border: none;
    width: 5px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: rgb(174, 174, 174);
    border-radius: 20px;
    width: 4px;
}

table {
    background-color: rgb(218, 225, 233);
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    border-right: 1px solid black;
    padding: 10px;
}

td {
    padding: 10px;
    border-right: 1px solid black;
}

tr {
    border-bottom: 1px solid black;
}

.uses {
    text-align: center;
}

#deleteBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: 800;
    font-size: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}